<div class="container" style="padding-top: 100px;">

  <div class="row pt-4 text-center pt-4">
    <div class="col-12">
      <h1 class="pt-4">What is Learners Friend</h1>
      <hr>
    </div>
  </div>
  <div class="row text-center pt-4">
    <div class="col-12">
      <p class="lead p-2 text-justify">
        With the current education system, with classes of around 40 or more students, it is easy for some students to fall behind, either because they require a custom learning pace or even special attention to nurture their minds.
        With the ever-changing world of learning, some curricula have become outdated and therefore it has become necessary to offer some courses that increase relevance to workplaces where some technologies keep changing.
       </p>
       <p class="lead p-2 text-justify">
          Learners Friend is an online academic marketplace where you can find tutors, courses, and workshops. This is where you can find tutors to help keep your grades up or even ahead or even enroll for a course or join a workshop to learn a skill that may increase your relevance to the market
       </p>
    </div>
  </div>
  <div class="row text-center pt-4">
    <div class="col-12">
      <h1 class="pt-4">How it works</h1>
      <hr>
    </div>

    <div class="col-md-6 text-center pt-4">
      <i class="fa fa-graduation-cap fa-4x text-dark" aria-hidden="true"></i>
      <h3 class="m-4">Become a Student</h3>
      <p class="lead">
          To become a student, simply subscribe to a course or particular tutoring session based on what you need to learn. An email will be sent to you with all the relevant details
      </p>
    </div>

    <div class="col-md-6 text-center pt-4">
      <i class="fa fa-user fa-4x text-dark" aria-hidden="true"></i>
      <h3 class="m-4">For Tutors</h3>
      <p class="lead p-2">
          To become a tutor or to create a course or workshop send us an email to <a href="mailto:info.learnersfriend@gmail.com">info.learnersfriend@gmail.com</a> with your CV attached, a description of your tutoring sessions or courses to apply
      </p>
    </div>

    <!-- <div class="col-md-4">
      <h3>What tutors can do</h3>
      <p class="lead">
          As a tutor, you will be able to create courses that students can enroll to, or provide a list of tutoring sessions. For now, only instructor-led courses will be available as we are working on courses to stream online
      </p>
    </div> -->
    
    <!-- <div class="col-12">
      <p class="lead pl-4">
        Learners Friend works with professionals and skilled individuals who provide their content to the website for display.
      </p>
    </div> -->
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <h1 class="hblock">Founders Story</h1>
    </div>
  </div> -->
</div>