
<div class="container" style="padding-top: 7.5em; min-height: 80vh;">

  <div class="row pt-4">
    <div class="col-6 pt-4">
      <h3 class="mt-4">Password Recovery</h3>
    </div>
  </div>

  <div class="row pt-4">
      <div class="col-md-6 pt-4">

          <p class="lead text-danger" *ngIf="erroMessage !== null">Email address not found</p>
          <p class="lead text-success" *ngIf="submitted">Please check your email for further instructions</p>

          <form [formGroup]="emailForm" (ngSubmit)="submitUserEmail()">
    
              <div class="form-group">
                  <input type="email" class="form-control"
                   formControlName="userEmail" placeholder="Your email address"  required>
                  
                   <span *ngIf="f.userEmail.errors && !f.userEmail.pristine" class="text-danger">
                    Provide valid email address
                  </span>
              </div>
    
              <div class="form-row text-right p-1">
                  <button type="submit" class="btn btn-block btn-primary" [disabled]="!emailForm.valid" *ngIf="!submitting">Login</button>    
                  <i class="fa fa-spinner fa-spin fa-3x" *ngIf="submitting"></i>
                </div>
          </form>
        </div>
  </div>
</div>